<h1>OneTimePassword</h1>
<%= form_tag({controller: "otprecs", action: "show"}, method: "post", id: @id, html:{class: 'pure-form pure-form-stacked'}) do %>
  <div class="pure-control-group">
  <%= text_field :myform, :passphrase, :placeholder => 'Type passphrase for decrypting message here...', :size=>100 %>
  </div>
  <div class="pure-control-group">
  <%= submit_tag "Decrypt", :class => 'pure-button pure-button-primary' %>
  </div>
<% end %>

<%= javascript_tag do %>
  document.getElementById("myform_passphrase").select();
<% end %>
